* {
  padding: 0;
  margin: 0;
}

#random #motto span::after,
#all dd {
  font-family: "MS Mincho", "SimSong", serif;
  font-weight: 400;
}

h1,
#all h2,
#all dt {
  font-family:  'Times New Roman', serif;
  font-weight: 400;
}

#random #motto,
#all dt,
#all h2 a {
  font-size: 200%;
}

#random,
#all,
#all section {
  width: 100%;
}

#random {
  height: 100vh;
  max-height: -webkit-fill-available;
}

#random {
  display: grid;
  place-items: center;
  padding: 1rem;
}

#random #motto span {
  text-decoration: none;
}

#random #motto span:hover {
  text-decoration: underline;
}

#random #motto span:hover::after {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0.5rem;
  text-align: center;
  content: attr(value);
  font-size: 55%;
  width: 75%;
}

#all {
  background: #fff;
  display: grid;
  height: 40rem;
  max-height: -webkit-fill-available;
}

#all h2 {
  padding: 1rem;
  font-size: 125%;
  font-weight: 400;
}

#all section,
#all section dl {
  overflow: auto;
}

#all section {
  display: flex;
  place-items: end;
}

#all section dl {
  font-size: 75%;
  padding: 0 1rem 0.5rem;
  width: 25%;
  min-width: 250px;
  height: calc(100vh - 12.5rem);
}

#all dt i {
  font-size: 55%;
}

#all dd {
  margin-top: 0.25rem;
  margin-bottom: 0.5rem;
}

@media screen and (max-width: 550px) {
  #random #motto span {
    display: block;
    font-size: 125%;
    padding: 0.5rem 0;
  }

  #all section dl {
    min-width: 45vw;
    height: calc(100vh - 50vw);
  }
}

@media print {
  #random #motto {
    font-size: 7.5vw;
  }

  #random #motto span {
    display: block;
    padding: 0.5rem 0;
  }
}
