* {
  padding: 0;
  margin: 0;
}

#random #motto span::after,
#all dd {
  font-family: "MS Mincho", "SimSong", serif;
}

h1,
#all h2 a,
#all h2 i,
#all dt {
  font-family: "Times New Roman", "Times", serif;
}

#all h2 span {
  font-family: "Arial", "Yu Gothic", sans-serif;
}

h1,
#all h2 {
  font-weight: 400;
}

#random #motto {
  font-size: 200%;
}

#all h2 a,
#all dt {
  font-size: 150%;
}

#all h2,
#all h2 i {
  font-size: 111%;
}

#all dt i {
  font-size: 50%;
  text-decoration: red 1px underline wavy;
}

#random,
#all,
#all section {
  width: 100%;
}

#random {
  display: grid;
  place-items: center;
  height: calc(100vh - 5rem);
  max-height: -webkit-fill-available;
}

#random,
#all h2 {
  padding: 1rem;
}

#random #motto span {
  text-decoration: none;
}

#random #motto span:hover {
  text-decoration: red 2px underline wavy;
}

#random #motto span:hover::after {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0.5rem;
  text-align: center;
  content: attr(value);
  font-size: 55%;
  width: 75%;
}

#all section,
#all section dl {
  overflow: auto;
}

#all,
#all section {
  display: flex;
}

#all {
  flex-flow: column;
  height: 750px;
  max-height: 75vh;
}

#all section dl {
  padding: 0 1rem 0.5rem;
  width: 25%;
  min-width: 250px;
}

#all dt i {
  font-size: 55%;
}

#all dd {
  margin-top: 0.25rem;
  margin-bottom: 0.5rem;
}

@media (max-width: 550px) {
  #random #motto span {
    display: block;
    font-size: 125%;
    padding: 0.5rem 0;
  }

  #all section dl {
    min-width: 70vw;
  }
}

@media print {
  #random #motto {
    font-size: 7.5vw;
  }

  #random #motto span {
    display: block;
    padding: 0.5rem 0;
  }
}