body {
    overflow-x: hidden;
}

#top,
details p {
    display: flex;
}

#top h1 {
    display: grid;
    place-items: center;
}

#top h1,
#top h2 i {
    font-family: "Times New Roman", "Times", serif;
}

#top h2,
ruby,
article section,
details {
    font-family: "Arial", "Yu Gothic", sans-serif;
}

.jp {
    font-family: "MS Mincho", "SimSong", serif;
}

h3.pehu {
    text-align: center;
    font-weight: 400;
}

#top h1,
#top h2 {
    font-size: 200%;
    font-weight: 400;
}

ruby,
details p a {
    font-size: 125%;
}

#top h2 i {
    font-size: 111%;
}

.jp {
    font-size: 90%;
    line-height: 175%;
}

#top h2 {
    line-height: 150%;
}

#top h1,
#top div {
    padding: 1rem;
}

#top h1 span {
    margin: 1rem 0;
}

#now {
    margin: 0 auto 2rem;
    width: calc(100% - 2rem);
}

summary {
    border-bottom: 1px solid;
}

summary::marker {
    content: '☞ ';
    font-size: 150%;
}

details[open] summary::marker {
    content: '☟ ';
}

details p {
    flex-wrap: wrap;
    justify-content: space-between;
}

details p a {
    display: block;
    width: 100%;
}

/* デバイスが横向きの場合の記述 */
@media (orientation: landscape) {
    #top {
        flex-flow: row;
        min-height: calc(100vh - 7.5rem);
    }

    #top h1,
    #top div {
        flex: 1;
    }

    #top h1 {
        margin: auto;
    }

    h3.pehu {
        font-size: 10vw;
    }
}

/* デバイスが縦向きの場合の記述 */
@media (orientation: portrait) {
    #top {
        flex-flow: column-reverse;
        margin-bottom: 5rem;
    }

    h3.pehu {
        font-size: 20vw;
        margin: 27.5vw 0;
    }
}