h2,
footer p {
    padding: 0;
    margin: 0;
}

#random,
footer {
    display: flex;
}

#random h1 {
    display: grid;
    place-items: center;
}

#random h1,
#random h2 i {
    font-family: "Times New Roman", "Times", serif;
}

#random h2,
article,
footer {
    font-family: "Arial", "Yu Gothic", sans-serif;
}

.jp {
    font-family: "MS Mincho", "SimSong", serif;
}

h3.pehu {
    text-align: center;
    font-weight: 400;
}

#random h1,
#random h2 {
    font-size: 200%;
    font-weight: 400;
}

ruby {
    font-size: 125%;
}

#random h2 {
    line-height: 150%;
}

#random h2 i {
    font-size: 111%;
}

.jp {
    font-size: 90%;
    line-height: 175%;
}

#random h1,
#random div,
article section {
    padding: 1rem;
}

footer {
    gap: 1rem;
    padding: 1rem;
}

#random h1 span {
    margin: 1rem 0;
}

article section {
    border: solid 1px;
    border-radius: 1rem;
    width: calc(100% - 2rem);
    margin: auto;
}

summary {
    border-bottom: 1px solid;
}

summary::marker {
    content: '☞ ';
    font-size: 150%;
}

details[open] summary::marker {
    content: '☟ ';
}

/* デバイスが横向きの場合の記述 */
@media (orientation: landscape) {
    #random {
        flex-flow: row;
        min-height: calc(100vh - 7.5rem);
    }

    #random h1,
    #random div,
    footer p {
        flex: 1;
    }

    #random h1 {
        margin: auto;
    }

    h3.pehu {
        font-size: 10vw;
    }
}

/* デバイスが縦向きの場合の記述 */
@media (orientation: portrait) {

    footer {
        flex-flow: column;
    }

    #random {
        flex-flow: column-reverse;
        margin-bottom: 5rem;
    }

    h3.pehu {
        font-size: 20vw;
        margin: 27.5vw 0;
    }
}