html {
    height: -webkit-fill-available;
    font-size: 16px;
  }
  
  @font-face {
    font-family: "Arial";
    src: url("icon/font/Arial.ttf");
  }
  
  @font-face {
    font-family: "MS Mincho";
    src: url("icon/font/MSMincho.ttc");
  }
  
  @font-face {
    font-family: "SimSong";
    src: url("icon/font/SimSun.ttc");
  }
  
  @font-face {
    font-family: "Times New Roman";
    src: url("icon/font/times.ttf");
  }

  * {
    box-sizing: border-box;
  }

  body {
    padding: 0;
    margin: 0;
  }

  a {
    color: inherit;
  }
  
  a:hover {
    color: red;
  }