#logo {
    display: flex;
    gap: 1rem;
    flex-flow: wrap;
    align-items: flex-start;
    justify-content: space-between;
    position: relative;
}

#logo {
    padding: 1rem 0;
}

#logo aside {
    padding: 1rem;
}

#logo section canvas {
    background: #fff;
}

#logo section canvas {
    border: #000 solid 1px;
    max-width: 100%;
    max-height: 100%;
}

@page {
    size: A5;
}

@media print {
    #logo section {
        break-inside: avoid;
    }
}

#logo section b {
    display: none;
    position: absolute;
    font-size: 90%;
    pointer-events: none;
    user-select: none;
}

#logo section:hover b {
    display: block;
}

#logo section small {
    background: #000;
    color: #fff;
}

#logo aside {
    box-sizing: border-box;
    max-width: 100%;
}