.css-rotate {
	position: relative;
	transform-style: preserve-3d;
	user-select: none;
	pointer-events: none;
	z-index: -1;
	animation: rotate 5s linear infinite;
}

.css-front,
.css-back {
	position: absolute;
	backface-visibility: hidden;
	width: 100%;
}

.css-back {
	transform: rotateY(180deg);
}

@keyframes rotate {
	from {
		transform: rotateY(0deg);
	}

	to {
		transform: rotateY(360deg);
	}
}

@media screen and (max-width: 850px) {
	.css-rotate {
		animation: rotate 0s linear infinite;
	}
}

@media print {
    .css-rotate {
		animation: rotate 0s linear infinite;
	}
}
