* {
    box-sizing: border-box;
}

#backBtn,
#dialog button {
    background: transparent;
    border: none;
    outline: none;
}

button:hover,
.button:hover {
    color: red;
    cursor: pointer;
}

h1,
#usbcard {
    padding: 0;
    margin: 0;
}

#we {
    font-size: 100%;
    padding: 2.5vw;
}

footer {
    padding: 0.5rem;
}

#we,
#future h3,
.button,
footer {
    font-family: Arial, sans-serif;
}

i {
    font-family: 'Times New Roman', Times, serif;
}

.center {
    font-family: "Hiragino Kaku Gothic ProN", "Hiragino Sans", "Meiryo", sans-serif;
}

.red {
    color: red;
}

h1,
h2,
h3,
.button {
    font-weight: 500;
}

#dialog button {
    font-size: 300%;
}

h1 {
    font-size: 200%;
    line-height: 150%;
}

#we h2,
.button,
footer {
    font-size: 155%;
}

#we p,
#dialog b {
    font-size: 125%;
}

i {
    font-size: 111%;
    font-style: italic;
    font-weight: 555;
    padding-right: 0.25rem;
}

.center {
    text-align: center;
}

#usbcard {
    width: 65%;
    height: 40vw;
    max-width: 500px;
    max-height: 333px;
}

#we section {
    padding: 1.25rem;
    float: right;
}

.button {
    border: 0.1rem solid;
    color: #000;
    text-decoration: none;
    padding: 0.5rem;
}

#we h3 {
    clear: both;
    width: 100%;
}

#dialog {
    position: fixed;
}

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#dialog button {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
}

#video {
    pointer-events: none;
    user-select: none;
}

hr {
    clear: both;
    border: none;
    margin: 1rem;
    width: 100%;
}

@media (orientation: landscape) {
    #video {
        float: left;
        margin: 0 1rem 0 0;
        width: 50%;
    }
}

@media (orientation: portrait) {
    #video {
        margin: 0 0 1rem 0;
        width: 100%;
    }
}

@media screen and (max-width: 750px) {
    #we h1 u::after {
        content: "";
        display: block;
        clear: both;
        width: 100%;
    }

    h1 {
        font-size: 175%;
    }

    #we h2,
    .button {
        font-size: 150%;
    }

    #we p {
        font-size: 111%;
    }
}

@page {
    size: portrait;
}

@media print {
    html {
        font-size: 2vw;
    }

    #menu {
        display: none;
    }

    #we {
        padding: 2.5rem;
        margin-bottom: 0.9rem;
    }

    #we h1 u::after {
        content: "";
        display: block;
        clear: both;
        width: 100%;
    }

    h1 {
        font-size: 175%;
    }

    #we h2 {
        font-size: 150%;
    }

    #we p {
        font-size: 111%;
    }
}