:root {
	--numOfList: 24;
	--imgW: 240px;
	--imgH: var(--imgH);
	--BetweenImg: 0px;
}

#slideshow,
#loop_wrap,
#loop_wrap img {
	padding: 0;
	margin: 0;
}

#slideshow {
	width: 100%;
	overflow: hidden;
}

#loop_wrap {
	display: flex;
	font-size: 0;
	animation: slideshow 24s linear infinite;
}

#loop_wrap img {
	width: var(--imgW);
	height: var(--imgH);
	user-select: none;
	pointer-events: none;
}

@keyframes slideshow {
	100% {
		transform: translateX(calc((var(--numOfList) * var(--imgW) + var(--BetweenImg) * var(--numOfList)) * -1));
	}
}

@media screen and (max-width: 750px) {
	:root {
		--imgW: 33.333vw;
	}
}

@media print {
	:root {
		--imgW: calc(100% / 6);
	}

    #loop_wrap {
        flex-flow: wrap;
        animation: slideshow 0s linear infinite;
    }

	#loop_wrap img:nth-child(6),
	#loop_wrap img:nth-child(n+20) {
		display: none;
	}
}
