dialog {
	background: linear-gradient(-90deg, #b3cbf6, #FFC778, #eee);
	height: 100%;
	overflow: scroll;
}

#weare h1,
#weare h2 {
	padding: 0;
	margin: 1rem;
}

#weare section {
	margin: 2.5rem;
}

#weare h1 {
	color: #fff;
	font-family: 'Times New Roman', Times, serif;
	font-size: 250%;
	font-style: italic;
}

#weare h2 {
	font-family: Arial, sans-serif;
	font-size: 175%;
	line-height: 150%;
}

#weare h3 {
	font-family: 'Times New Roman', Times, serif;
	font-size: 125%;
	margin: 2.22rem auto;
	width: 22.22rem;
}

#weare h3 strong,
#weare section p {
	font-size: 111%;
}

#weare section p {
	font-family: 'Times New Roman', Times, serif;
	text-align: center;
}

.as {
	display: inline-block;
	width: 10rem;
}