#weare {
  display: grid;
  place-items: center;
}

#weare section {
  overflow: auto;
}

/* デバイスが横向きの場合の記述 */
@media (orientation: landscape) {
  #weare {
    font-size: 3vh;
    width: 100%;
    height: calc(100vh - 6rem);
    max-height: -webkit-fill-available;
  }

  #weare section {
    width: 80vh;
    height: 100%;
    transform-origin: center center;
    transform: rotate(90deg);
  }
}

/* デバイスが縦向きの場合の記述 */
@media (orientation: portrait) {
  #weare {
    font-size: 3vw;
  }

  #weare section {
    width: 90vw;
    padding: 2.5vw 0;
  }
}

#weare hr {
  border: none;
}

#weare section strong,
#weare section small {
  display: block;
}

#weare section strong,
#weare section small,
#weare section hr {
  padding: 0;
  margin: 1.5rem;
}

#weare section strong,
#weare section small {
  font-family: "Arial", "Yu Gothic", sans-serif;
}

#weare section i,
#weare section a {
  font-family: "Times New Roman", "MS Mincho", "SimSong", serif;
  font-size: 111%;
  font-style: italic;
}

#works section,
#weare section strong {
  font-size: 200%;
  font-weight: 500;
  line-height: 155%;
  letter-spacing: 0.05rem;
}

#weare section small {
  font-size: 111%;
  line-height: 200%;
}

#weare section small.jp {
  font-size: 80%;
}

#weare section .pehu {
  font-size: 70%;
  letter-spacing: 0.02rem;
}

#weare section a {
  display: inline-block;
  text-decoration: none;
  padding: 0 0.1rem;
  filter: blur(.5rem);
  -webkit-filter: blur(.5rem);
  transition: all 2.25s ease;
}

#weare section a:hover {
  cursor: pointer;
  filter: blur(0);
  -webkit-filter: blur(0);
  transform: scale(1.11, 1.11);
  transition: all 1s ease;
}