#weare,
#works article {
  position: relative;
}

#weare {
  display: grid;
  place-items: center;
}

#weare section {
  overflow: auto;
}

#works {
  display: flex;
  min-height: calc(100vh - 4.5rem);
  background-position: center;
  background-size: auto 100%;
}

#works nav {
  position: absolute;
  top: 0;
  width: calc(100% - 2rem);
}

#works section {
  color: transparent;
  display: grid;
  place-content: center;
  flex: auto 1;
}

#works section:hover {
  color: inherit;
  cursor: pointer;
}

#weare[hidden],
#works[hidden] {
  display: none;
}


/* デバイスが横向きの場合の記述 */
@media (orientation: landscape) {
  #weare {
    font-size: 3vh;
    width: 100%;
    height: calc(100vh - 5rem);
    max-height: -webkit-fill-available;
  }

  #weare section {
    width: 80vh;
    height: 100%;
    transform-origin: center center;
    transform: rotate(90deg);
  }
}

/* デバイスが縦向きの場合の記述 */
@media (orientation: portrait) {
  #weare {
    font-size: 3vw;
  }

  #weare section {
    width: 90vw;
    padding: 2.5vw 0;
  }
}

#weare section .end {
  align-self: end;
}

#weare hr {
  border: none;
}

#weare section i,
#weare section a {
  font-family: "Times New Roman", "MS Mincho", "SimSong", serif;
  font-size: 111%;
}

#weare section i,
#weare section a {
  font-style: italic;
}

#weare section strong {
  display: block;
}

#weare section strong,
#works section {
  font-size: 200%;
  font-weight: 500;
  line-height: 155%;
  letter-spacing: 0.05rem;
}

#works h1 {
  font-size: 150%;
}

#weare section p {
  font-size: 111%;
  line-height: 200%;
}

#weare section p.jp {
  font-size: 80%;
}

#weare section .pehu {
  font-size: 70%;
  letter-spacing: 0.02rem;
}

#works h1 {
  font-weight: 400;
  padding: 0;
  margin: 0;
}

#weare section strong,
#weare section p,
#weare section hr {
  padding: 0;
  margin: 1.5rem;
}

#weare section a {
  display: inline-block;
  text-decoration: none;
  padding: 0 0.1rem;
  filter: blur(.5rem);
  -webkit-filter: blur(.5rem);
  transition: all 2.25s ease;
}

#weare section a:hover {
  cursor: pointer;
  filter: blur(0);
  -webkit-filter: blur(0);
  transform: scale(1.11, 1.11);
  transition: all 1s ease;
}