#weare {
  display: flex;
  overflow: auto;
  background: #fff;
  background-repeat: no-repeat;
  background-size: cover;
  position: sticky;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 1;
}

#weare section {
  display: grid;
  padding: 0.25rem;
  height: 100%;
  width: 450px;
  min-width: 450px;
  overflow: auto;
}

#weare section .end {
  align-self: end;
}

#weare hr {
  border: none;
}

#weare h1,
#weare h2,
#weare p,
#weare hr {
  padding: 0;
  margin: 1.25rem;
}

#weare h1,
#weare h2 {
  font-size: 200%;
  line-height: 155%;
  font-weight: 500;
  letter-spacing: 0.05rem;
}

#weare {
  font-family: "Arial", "Yu Gothic", sans-serif;
  text-shadow: #fff 0.05rem 0.05rem 0;
}

#weare h1 {
  font-family: "MS Mincho", "SimSong", serif;
}

#weare i,
#weare a,
#links u {
  font-family: "Times New Roman", "MS Mincho", "SimSong", serif;
  font-size: 110%;
}

#weare i,
#weare a {
  font-style: italic;
}

#weare p {
  font-size: 111%;
  line-height: 200%;
}

#weare p.jp {
  font-size: 80%;
}

#weare .pehu {
  font-size: 70%;
  letter-spacing: 0.02rem;
}

#weare h2 a {
  display: inline-block;
  color: #000;
  text-decoration: none;
  padding: 0 0.1rem;
  filter: blur(.5rem);
  -webkit-filter: blur(.5rem);
  transition: all 2.25s ease;
}

#weare h2 a:hover {
  cursor: pointer;
  filter: blur(0);
  -webkit-filter: blur(0);
  transform: scale(1.25, 1.25);
  transition: all 1s ease;
}

@media screen and (max-width: 550px) {
  #weare section {
    width: 85vw;
    min-width: 85vw;
  }
}

#links {
  display: flex;
  flex-flow: column;
}

#links,
#links a,
#links a time {
  font-size: 111%;
  font-style: normal;
  padding: 0.25rem 0.5rem;
}

#links,
#links u {
  margin: 0.25rem 0.5rem;
}

#links a {
  display: flex;
  justify-content: space-between;
}

#links a {
  background: #fff;
  border: solid 0.125rem;
  border-radius: 2rem;
  text-align: center;
  text-decoration: none;
  margin: 0.25rem;
}
