#weare {
  position: relative;
  display: grid;
  place-items: center;
}

#weare section {
  overflow: auto;
}

/* デバイスが横向きの場合の記述 */
@media (orientation: landscape) {
  #weare {
    font-size: 3vh;
    width: 100%;
    height: 100vh;
    max-height: -webkit-fill-available;
  }

  #weare section {
    width: 90vh;
    height: 100%;
    transform-origin: center center;
    transform: rotate(90deg);
  }
}

/* デバイスが縦向きの場合の記述 */
@media (orientation: portrait) {
  #weare {
    font-size: 3vw;
  }

  #weare section {
    width: 90%;
    padding: 2.5vw 0;
  }
}

#weare section .end {
  align-self: end;
}

#weare hr {
  border: none;
}

#weare {
  font-family: "Arial", "Yu Gothic", sans-serif;
}

#weare i,
#weare a {
  font-family: "Times New Roman", "MS Mincho", "SimSong", serif;
  font-size: 110%;
}

#weare i,
#weare a {
  font-style: italic;
}

#weare h1,
#weare h2 {
  font-size: 200%;
  font-weight: 500;
  line-height: 155%;
  letter-spacing: 0.05rem;
}

#weare p {
  font-size: 111%;
  line-height: 200%;
}

#weare p.jp {
  font-size: 80%;
}

#weare .pehu {
  font-size: 70%;
  letter-spacing: 0.02rem;
}

#weare h1,
#weare h2,
#weare p,
#weare hr {
  padding: 0;
  margin: 1.25rem;
}

#weare a {
  display: inline-block;
  text-decoration: none;
  padding: 0 0.1rem;
  filter: blur(.5rem);
  -webkit-filter: blur(.5rem);
  transition: all 2.25s ease;
}

#weare a:hover {
  cursor: pointer;
  filter: blur(0);
  -webkit-filter: blur(0);
  transform: scale(1.11, 1.11);
  transition: all 1s ease;
}