h1#title {
  display: flex;
  place-items: center;
  justify-content: space-between;
  writing-mode: vertical-rl;
  margin: 0;
}

#cover,
#buy {
  overflow: hidden scroll;
}

body {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100dvh;
}

#cover {
  float: left;
  width: 55vw;
  height: 97%;
  -webkit-transform: rotate(10deg) skew(10deg, 0);
  -moz-transform: rotate(10deg) skew(10deg, 0);
  -ms-transform: rotate(10deg) skew(10deg, 0);
  -o-transform: rotate(10deg) skew(10deg, 0);
  transform: rotate(10deg) skew(10deg, 0);
}

#buy {
  float: right;
  width: 37.5vw;
  height: 95.75%;
  -webkit-transform: rotate(-16.5deg) skew(-16.5deg, 0);
  -moz-transform: rotate(-16.5deg) skew(-16.5deg, 0);
  -ms-transform: rotate(-16.5deg) skew(-16.5deg, 0);
  -o-transform: rotate(-16.5deg) skew(-16.5deg, 0);
  transform: rotate(-16.5deg) skew(-16.5deg, 0);
}

h1#title {
  float: left;
  font-size: 3vh;
  padding: 10vh 0 3vh;
  width: 7.5vw;
  height: 100%;
}

@media screen and (max-width: 950px) {

  #cover,
  #buy {
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
    overflow: hidden;
  }

  body {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    height: auto;
  }

  h1#title,
  #cover,
  #buy {
    height: max-content;
  }

  h1#title {
    float: right;
    padding: 4.5vw 0;
  }

  #cover {
    padding: 2.5vw 0 5vw;
    width: calc(100% - 7.5vw);
  }

  #buy {
    width: 100%;
  }
}

@media (orientation: portrait) {

  #cover,
  #buy {
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
  }

  body {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    height: auto;
  }

  h1#title,
  #cover,
  #buy {
    height: max-content;
  }

  h1#title {
    float: right;
    padding: 4.5vw 0;
  }

  #cover {
    padding: 2.5vw 0 5vw;
    width: calc(100% - 7.5vw);
  }

  #buy {
    width: 100%;
  }
}