#cover {
  display: grid;
  place-items: center;
}

#cover nav {
  width: 72.5%;
  max-width: 475px;
}

#cover img {
  display: block;
}

#cover .vol {
  float: right;
  margin-top: 2.5%;
  width: 37.5%
}

#cover .logo {
  float: left;
  width: 30%;
  margin-top: 12.5%;
}

#cover p {
  clear: both;
  padding: 3.21rem 0 0;
  width: 100%;
}

#cover menu {
  padding: 0;
  margin: 2rem 0 0;
  list-style: none inside;
  counter-reset: count;
}

#cover menu li {
  border: solid 0.1rem;
  padding: 0.75rem 2.25rem 0.5rem;
  margin: 1rem 0;
  position: relative;
  font-size: 195%;
}

#cover menu li:before {
  counter-increment: count;
  content: "[" counter(count)"]";
  font-size: 55%;
  position: absolute;
  top: 0.5rem;
  left: 0.75rem;
}

#cover menu li[data-title]:hover {
  background: red;
  color: #fff;
  cursor: pointer;
}