#book {
    background-image: url(000.png);
}

#a {
    background-image: url(001.png);
}

#b {
    background-image: url(002.png);
}

#c {
    background-image: url(003.png);
}

#d {
    background-image: url(004.png);
}

#e {
    background-image: url(005.png);
}

#f {
    background-image: url(006.png);
}

#g {
    background-image: url(007.png);
}

#cover {
    background-image: url(008.png);
}