main {
    font-family: 'Noto Sans JP', sans-serif;
}

* {
    box-sizing: border-box;
}

#top {
    font-size: 100%;
    font-weight: 500;
}

ul li p b {
    font-size: 95%;
    font-weight: 400;
}

ul li p span,
.double {
    line-height: 200%;
}

#top {
    letter-spacing: 0.25rem;
}

ul li p b {
    letter-spacing: 0.05rem;
}

ul li p a {
    text-decoration: none;
}

#top {
    padding: 0.5rem;
    margin: 0.5rem;
}

ul li p a,
ul li p b {
    padding: 0.125rem;
}

h2,
main ul li,
.aha {
    display: grid;
    place-items: center;
}

#top,
.flex {
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.flex {
    width: 90%;
}

.aha {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
}

#top {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 100;
}

#top {
    top: 0;
}

.symbol,
ul li p b {
    background: #43B149;
    color: #fff;
}

ul li p a {
    background: cornsilk;
    color: #000;
}

.symbol {
    width: 75%;
    max-width: 550px;
    padding: 1rem 4.5rem;
    margin: 1rem auto;
    border-radius: 10rem;
}

.hint p::before {
    content: "🌱";
    font-size: 111%;
    display: inline-block;
    margin-right: 0.25rem;
}

.by {
    width: 10rem;
    margin-right: 1rem;
}

.name,
.as {
    width: 25rem;
    margin-right: 1rem;
}

.links {
    position: relative;
    z-index: 2;
}

.hal .edition,
.hal .special {
    background: pink;
    color: #fff;
}

h2 {
    background: cornsilk;
    position: absolute;
    left: 0;
    top: 0;
    width: 4rem;
    height: 100%;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    writing-mode: vertical-lr;
}

h2 b {
    font-size: 200%;
}

@media screen and (max-width: 550px) {
    html {
        font-size: 3vw;
    }
}

@media screen and (max-width: 750px) {
    .full {
        min-height: 100vw;
    }

    #d {
        min-height: 100vw;
    }

    h2 {
        font-size: 111%;
        width: 100%;
        height: 3rem;
        writing-mode: horizontal-tb;
    }
}
